*{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

nav{
	background-color: rgba(0,0,0,0);
	box-shadow: none;
}
.navbar-fixed .logo-hestia{
	font-weight: 100;
    font-size: 19px;
    margin-left: 7%;
    color: white;
}

.menu-txt{
	font-weight:100;
	font-size: 12px;
	color: white;
}

.boton-buy{
	background-color: $boton_magenta;
	height: 43px;
    width: 126px;
    font-size:12px;
}
.boton-buy.icono-boton{
	margin-left: -25%;
    margin-top: -5px;
    font-size: 19px;
}
/* CARRUSEL */
.carousel .carousel-slider .initialized{
	height: 120vh;
}